@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #FFFFFF;
  color: black;
}

.page-header {
  background-color: #FFFFFF;
  color: #000;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.logo {
  margin-left: 70px;
}

.navigation-list {
  width: 500px;
  margin: 0;
  margin-left: 30px;
  padding: 0;
  list-style: none;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
  margin-right: 70px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
  background-color: #FFFFFF;
  text-align: center;

}

.button {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #000;
}

.navigation-link-button {
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-color: #FFFFFF;
  color: #000;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
}

.welcome {
  background-color: #FFFFFF;
  color: #000;
  background-image: url("../images/background-about.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
}

.about {
  text-align: center;
  background-color: #FFFFFF;
  color: #000;
}

.about-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantage-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.advantage-item-city {
  display: flex;
  width: 1200px;
}

.advantage-item-description {
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 400px;
}

.advantage-item {
  width: 400px;
}

.advantage-item-house {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-brige {
  display: flex;
  width: 1200px;
}

.advantage-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantage-description {
  font-size: 18px;
  line-height: 21px;
}

.advantage-item-square {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-tourist {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.search-hotels {
  text-align: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-list {
  text-align: center;
  color: #FFFFFF;
  background-color: #000;
  background-image: url("../images/background-subscription.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscription-list-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: inherit;
}

.page-footer a {
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.background-catalog {
  color: #FFFFFF;
  background-color: #000;
  background-image: url("../images/catalog/background-catalog.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filter-title {
  font-size: 20px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 21px;
}

.button-filter {
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.button-filter-reset {
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.results-filter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.results a {
  color: inherit;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-rate {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-item .pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-item {
  color: #FFFFFF;
}

.pagination-link {
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.product-card-results {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.subscription-list-catalog {
  text-align: center;
}
