@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #F2F2F2;
  color: black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background-color: #FFFFFF;
  color: #000;
  width: 1200px;
  margin: 0 auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* НАВИГАЦИЯ */
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

.logo {
  margin-left: 70px;
  margin-right: 30px;
}

.navigation-list {
  width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
  margin-right: 70px;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url(../images/icon/Search.svg);
  background-repeat: no-repeat;
  background-position: center;

}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url(../images/icon/favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-right: 19px;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link::before {
  content: "12";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #7DB54F;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 17px;
  left: 28px;
  top: 15px;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
  background-color: #FFFFFF;
  text-align: center;
  padding: 20px 17px;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  width: 68px;
  left: auto;
  top: 65px;
  border-top: 2px solid #756257;
}

.navigation-link-current-catalog {
  position: relative;
}

.navigation-link-current-catalog::before {
  content: "";
  position: absolute;
  width: 93px;
  left: auto;
  top: 65px;
  border-top: 2px solid #756257;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 26px;
}

.button {
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  box-sizing: border-box;
}

.navigation-link-button {
  text-transform: uppercase;
  width: 160px;
  padding: 9px 15px 8px;
}

.button-action-brown:hover,
.button-action-brown:focus {
  background-color: #615048;
}

.button-action-brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-action-brown:disabled {
  background-color: #E5E5E5;
}

.navigation-user .navigation-item:nth-child(3) {
  align-self: center;
}

/* ОСНОВНОЕ СОДЕРЖИМОЕ  */
.main-container {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  margin-top: -5px;
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main-index {
  background-color: #FFFFFF;
  color: #000;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  margin-top: -5px;


}

/* ВСТУПИТЕЛЬНАЯ ЧАСТЬ  */
.welcome {
  background-color: #FFFFFF;
  color: #000;
  background-image: url("../images/background-about.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 51px;
  position: relative;
}

.welcome-decoration {
  position: absolute;
  bottom: -6px;
}



.welcome-logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 82px;
}

.about {
  text-align: center;
  background-color: #FFFFFF;
  color: #000;
  padding-top: 63px;
}

.about-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;
}

.about-title-discription {
  margin: 0;
  margin-bottom: 90px;
}

/* СПИСОК ПРЕИМУЩЕСТВ  */
.advantage-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.advantage-item-city {
  display: flex;
  width: 1200px;
}

.advantage-item-description {
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 400px;
  padding-top: 92px;
  padding-left: 85px;
  padding-right: 85px;
}

.advantage-item {
  box-sizing: border-box;
  width: 400px;
  padding-top: 80px;
  padding-left: 85px;
  padding-right: 85px;
}

.advantage-item-house .advantage-item-images {
  background-image: url(/images/advantage/House.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantage-item-food .advantage-item-images {
  background-image: url(/images/advantage/food.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 74px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantage-item-souvenirs .advantage-item-images {
  background-image: url(/images/advantage/gift.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 64px;
  height: 76px;
  margin: 0 auto;
  margin-bottom: 30px;
}


.advantage-item-house {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-brige {
  display: flex;
  width: 1200px;
}

.advantage-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantage-description-number {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 30px;
}

.advantage-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 81px;
}

.advantage-item-square {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-tourist {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

/* ПОИСК ГОСТИНИЦЫ  */
.search-hotels {
  text-align: center;
  padding-top: 91px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.search-description {
  margin: 0;
  margin-bottom: 56px;
}

.search-hotels-button {
  margin-bottom: 93px;
  background-color: #756157;
  text-decoration: none;
  padding: 12px 15px;
  width: 574px;
  font-size: 20px;
}

/* ПОДПИСКА НА РАССЫЛКУ  */
.subscription-list {
  text-align: center;
  color: #FFFFFF;
  background-color: #000;
  background-image: url("../images/background-subscription.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscription-list-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.subscription-list-description {
  margin: 0;
  margin-bottom: 46px;
}

.subscrin-list-form {
  display: flex;
  justify-content: center;
}

.subscription-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  width: 200px;
  padding: 12px 15px;
  background-color: #82B3D3;
  border-radius: 0px 10px 10px 0px;
}

.button-action-blu:hover,
.button-action-blu:focus {
  background-color: #68A2CA;
}

.button-action-blu:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-action-blu:disabled {
  background-color: #E5E5E5;
}

.field {
  margin: 0;
  padding: 16px 22px;
  font-family: inherit;
  font-size: 18px;
  border: none;
  width: 600px;
  border-radius: 10px 0px 0px 10px;
  background-color: #F2F2F2;
}

/* ПОДВАЛ  */
.page-footer {
  margin: 0 auto;
  width: 1200px;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.contacts {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.page-footer a {
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.contact-phone:hover,
.contact-phone:focus {
  color: #756157;
}

.contact-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.contacts-item-social {
  display: flex;
  flex-wrap: wrap;
}

.contacts-social {
  position: relative;
  display: block;
  width: 48px;
  height: 40px;
}

.contacts-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.contacts-social:hover .color-icon-social,
.contacts-social:focus .color-icon-social {
  fill: #68A2CA;
}

.contacts-social:active .color-icon-social {
  fill: rgba(104, 162, 202, 0.3);
}

.contact-site:hover .color-icon-site,
.contact-site:focus .color-icon-site {
  fill: #756157;
}

.contact-site:active .color-icon-site {
  fill: rgba(117, 97, 87, 0.3);
}

/* КАТАЛОГ КАТАЛОГ КАТАЛОГ */
.background-catalog {
  color: #FFFFFF;
  background-color: #000;
  background-image: url("../images/catalog/background-catalog.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 34px 70px 70px;
  position: relative;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  margin-right: 10px;
}

.breadcrumbs-item:first-child {
  background-image: url(/images/icon/Union.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  cursor: pointer;
}

.breadcrumbs-item:nth-child(2) {
  background-image: url(/images/icon/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

/* ФИЛЬТР  */
.catalog-filter {
  display: flex;
  width: 1060px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-filter-group:nth-child(1),
.catalog-filter-group:nth-child(3) {
  margin-right: 70px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 176px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;

}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.catalog-filter-item {
  font-size: 18px;
  line-height: 21px;

}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.catalog-products {
  margin: 0 auto;
}

.control {
  position: relative;
  padding-left: 40px;
  display: block;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  left: 0;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid #83B3D3;
}

.control-input[type="checkbox"]:checked+.control-mark::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url(../images/icon/checked.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.control-input[type="radio"]+.control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url(../images/icon/radio.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button-filter-cotainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: end;
}

.button-filter {
  padding: 14px 15px;
  width: 160px;
  background-color: #82B3D3;
  margin-bottom: 20px;
}

.button-filter-reset {
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 0;
  border: none;
  display: inline-block;
  background-color: inherit;
  cursor: pointer;
}

.button-filter-reset:hover {
  opacity: 0.6;
}

.button-filter-reset:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-filter-reset:active {
  opacity: 0.3;
}

.range {
  width: 288px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #7b7b7b;
  bottom: 4px;
}

.range-bar {
  position: absolute;
  background-color: #FFFFFF;
  height: 5px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  /* background-color: #FFFFFF; */
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-container-inputs {

  margin-bottom: 32px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input {
  background-color: transparent;
  border: none;
  font: inherit;
  color: inherit;
  width: 50px;
  margin: 0;
  padding: 0;
}

.range-container-inputs {
  display: flex;
}

.catalog-filter-label {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 14px 14px;
  border: 2px solid #FFFFFF;

}

.catalog-filter-label:first-child {
  border-right: 1px;
  border-radius: 4px 0px 0px 4px;
}

.catalog-filter-label:last-child {
  border-radius: 0 4px 4px 0;
}

.range-input-text {
  opacity: 0.3;
  font-size: 18px;
}

/* РЕЗУЛЬТАТЫ ПОИСКА */
.results {
  width: 1200px;
  padding-top: 50px;
}

.results-filter {
  width: 1057px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 56px;
}

.product-list {
  width: 1056px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px;
}

.product-list-container {
  width: 1200px;
  margin-bottom: 96px;
}

.product-card {
  display: grid;
  grid-template-columns: auto;
  padding: 20px;
}

.product-card-container {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 20px 16px;
}

.results-filter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 191px;
  align-self: center;
}

.button-results {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid #E5E5E5;
  background-color: #FFFFFF;
}

.button-results:nth-child(3n) {
  margin-right: 0;
  background-image: url(../images/icon/icon-list.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.results-filter a:nth-of-type(1) {

  background-image: url(../images/icon/icon-table.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.results-filter a:nth-of-type(2) {
  background-image: url(../images/icon/icon-slideshow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button-results:hover {
  border: 2px solid #000;
}

.button-results:focus {
  border: 2px solid #68A2CA;
}

.button-results:active {
  border: 2px solid #000;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-right: auto;
  width: 290px;
  padding: 14px 20px;
  border: 2px solid #E5E5E5;
  background-color: #FFFFFF;
  border-radius: 4px;
  background-image: url(../images/icon/select-icon.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #68A2CA;
}

.select-control:active {
  outline: 2px solid #3F5E72;
}

.results a {
  color: inherit;

}

.product-card-image-link {
  margin-bottom: 16px;
}

.product-card-link {
  text-decoration: none;
  margin-bottom: 16px;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-rate {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  padding: 9px 22px 8px;
}

.results .button-pay {
  text-align: center;
  color: #FFFFFF;
  padding: 9px 15px 8px;
}

.button-favorites {
  background-color: #82B3D3;
  ;
}

.button-favorites-focus {
  background-color: #7DB54F;
}

.star {
  color: #82B3D3;
  vertical-align: sub;
  font-size: 26px;
  letter-spacing: -3px;
}

/* ПАГИНАЦИЯ */
.pagination-continer {
  position: relative;
  width: 1056px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.pagination-continer::before {
  content: "";
  border: 1px solid #E6E6E6;
  position: absolute;
  left: 0;
  bottom: 115px;
  width: 1055px;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-right: auto;

}

.pagination-item {
  color: #FFFFFF;
  text-align: center;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-link:last-child {
  padding: 12px 18px;
}

.pagination .pagination-current {
  background-color: #F2F2F2;
  color: #000;
}

.product-card-results {
  display: flex;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-results-title {
  margin-right: 51px;
  align-self: center;
}

.product-card-results-control {
  width: 160px;
  padding: 14px 20px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-image: url(../images/icon/select-icon.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
  border: 2px solid #E5E5E5;
  border-radius: 4px;

}

.subscription-list-catalog {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
