@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #FFFFFF;
  color: black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background-color: #FFFFFF;
  color: #000;
}

/* НАВИГАЦИЯ */
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.logo {
  margin-left: 70px;
  margin-right: 30px;
}

.navigation-list {
  width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
  margin-right: 70px;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
  background-color: #FFFFFF;
  text-align: center;
  padding: 20px 17px;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 26px;
}

.button {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  /* background-color: #000; */
}

.navigation-link-button {
  text-transform: uppercase;
}


/* ОСНОВНОЕ СОДЕРЖИМОЕ  */
.main-container {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.main-index {
  background-color: #FFFFFF;
  color: #000;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
}

/* ВСТУПИТЕЛЬНАЯ ЧАСТЬ  */
.welcome {
  background-color: #FFFFFF;
  color: #000;
  background-image: url("../images/background-about.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 51px;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 82px;
}

.about {
  text-align: center;
  background-color: #FFFFFF;
  color: #000;
  padding-top: 63px;
}

.about-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;
}

.about-title-discription {
  margin: 0;
  margin-bottom: 90px;
}

/* СПИСОК ПРЕИМУЩЕСТВ  */
.advantage-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.advantage-item-city {
  display: flex;
  width: 1200px;
}

.advantage-item-description {
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 400px;
  padding-top: 92px;
  padding-left: 85px;
  padding-right: 85px;
}

.advantage-item {
  box-sizing: border-box;
  width: 400px;
  padding-top: 80px;
  padding-left: 85px;
  padding-right: 85px;
}

.advantage-item-images {
  margin-bottom: 30px;
}

.advantage-item-house {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-brige {
  display: flex;
  width: 1200px;
}

.advantage-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantage-description-number {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 30px;
}

.advantage-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 81px;
}

.advantage-item-square {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-tourist {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

/* ПОИСК ГОСТИНИЦЫ  */
.search-hotels {
  text-align: center;
  padding-top: 91px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.search-description {
  margin: 0;
  margin-bottom: 56px;
}

.search-hotels .button {
  display: block;
  margin-bottom: 93px;
  background-color: #756157;
  text-decoration: none;
}

/* ПОДПИСКА НА РАССЫЛКУ  */
.subscription-list {
  text-align: center;
  color: #FFFFFF;
  background-color: #000;
  background-image: url("../images/background-subscription.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscription-list-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.subscription-list-description {
  margin: 0;
  margin-bottom: 46px;
}

.subscription-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: inherit;
}

/* ПОДВАЛ  */
.page-footer {
  margin: 0 auto;
  width: 1200px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.page-footer a {
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.contacts-item-social {
  display: flex;
  flex-wrap: wrap;
}

.contacts-social {
  display: block;
  width: 48px;
  height: 40px;
  border: 1px solid black;
}

/* КАТАЛОГ КАТАЛОГ КАТАЛОГ */
.background-catalog {
  color: #FFFFFF;
  background-color: #000;
  background-image: url("../images/catalog/background-catalog.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 35px;
  padding-left: 70px;
  padding-right: 70px;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  margin-right: 10px;
}

.breadcrumbs-link {
  color: inherit;
}

/* ФИЛЬТР  */
.catalog-filter {
  display: flex;
  width: 1060px;
}

.catalog-filter-title {
  font-size: 20px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 21px;
}

.button-filter {
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.button-filter-reset {
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

/* РЕЗУЛЬТАТЫ ПОИСКА */
.results {
  width: 1200px;
  padding-top: 50px;
}

.results-filter {
  width: 1056px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 56px;
}

.product-list {
  width: 1056px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px;
}

.product-list-container {
  width: 1200px;
  margin-bottom: 96px;
}

.product-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
}

.results-filter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 191px;
}

.button-results {
  width: 48px;
  height: 48px;
  border: 1px solid black;
  margin-right: 8px;
}

.button-results:nth-child(3n) {
  margin-right: 0;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-right: 78px;
}

.results a {
  color: inherit;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-rate {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.button-favorites {
  display: block;
  width: 140px;
}
.button-pay {
  display: block;
}
/* ПАГИНАЦИЯ */
.pagination-continer {
  width: 1056px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-right: 270px;

}

.pagination-item {
  color: #FFFFFF;
  text-align: center;


}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  padding: 12px 24px;
}

.pagination .pagination-current {
  background-color: #F2F2F2;
  color: #000;
}

.product-card-results {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.subscription-list-catalog {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
